---
layout: default
---

<header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
</header>

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
            {% if post.picture %}
              <div class="desaturate" style="background-image:url('{{ post.picture }}_c.jpg')"></div>
            {% else %}
              <div class="desaturate" style="background-image:url('https://farm6.staticflickr.com/5748/19919399544_af969e05c0_c.jpg')"></div>
            {% endif %}
            <h2>
              {{ post.title }}
            </h2>
<span class="post-meta">
{% assign m = post.date | date: "%-m" %}
{{ post.date | date: "%-d" }}
{% case m %}
    {% when '1' %}janvier
    {% when '2' %}février
    {% when '3' %}mars
    {% when '4' %}avril
    {% when '5' %}mai
    {% when '6' %}juin
    {% when '7' %}juillet
    {% when '8' %}août
    {% when '9' %}septembre
    {% when '10' %}octobre
    {% when '11' %}novembre
    {% when '12' %}décembre
{% endcase %}
{{ post.date | date: "%Y" }}
</span>
        </a>
      </li>
    {% endfor %}
  </ul>

</div>
