.post-content {
    img {
        border: 1px solid $grey-color-light;
        background-color: white;
        margin: 5px;
        box-shadow: $grey-color 0 0 4px;
        &:hover {
            box-shadow: $grey-color 0 0 10px;
        }
    }
}

.lightbox {
    font-family: 'Source Sans Pro', sans-serif;
    .lb-data .lb-caption {
        font-size: 1rem;
    }
}
