.post-content {
    img {
        border: 1px solid $grey-color-light;
        padding: 10px;
        border-radius: 10px;
        box-shadow: $grey-color 0 0 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
