.post-content {
    img {
        border: 1px solid $grey-color-light;
        background-color: white;
        margin: 2px;
        box-shadow: $grey-color 0 0 4px;
        &:hover {
            box-shadow: $grey-color 0 0 10px;
        }

        @media only screen and (max-width: $screen-xs-max) {
            &.thumbnail {
                width: 135px;
            }
        }
        @media only screen and (min-width: $screen-sm-min) {
            margin: 4px;
        }
    }
}

.lightbox {
    font-family: 'Source Sans Pro', sans-serif;
    .lb-data .lb-caption {
        font-size: 1rem;
    }
}
