/**
 * Site header
 */
.site-header {
    height: 8rem;

    // Positioning context for the mobile navigation icon
    position: relative;
    text-align: right;

    .wrapper {
        position: relative;
        height: 100%;

        > div {
            height: 100%;
            position: relative;
            background-image: url(../images/vw_1200_color.svg);
            background-position: 0px 50%;
            background-repeat: no-repeat;
            background-size: 40%;
        }

    }
    h1 {
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 0;
        @media screen and (max-width: $screen-sm-max) {
            font-size: 2rem;
        }
    }
    h3 {
        color: $grey-color;
        font-size: 1.2rem;
        position: absolute;
        right: 0;
        bottom: -35px;
        margin: 0;
        @media screen and (max-width: $screen-sm-max) {
            font-size: 1rem;
        }
    }

}
header.post {
  height: 350px;
  @media screen and (max-width: $screen-sm-max) {
    height: 200px;
  }
  position: relative;

  .picture,
  .gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  .picture {
    background-size: cover;
    background-position: center;
  }
  .gradient {
    background: rgba(51, 51, 51, 0.6);
  }

  .wrapper {
    position: relative;
    height: 100%;
    display: table;
    padding: 0;

    & > div {
      display: table-cell;
      vertical-align: middle;
      color: #ffffff;
      text-align: center;
    }
  }

  .post-meta {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
  }


  .back {
    position: fixed;
    z-index: 500;
    top: 20px;
    right: 20px;
    width: 44px;
    height: 44px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 99px;
    background-color: rgba(255, 255, 255, .5);
    background-image:  url(../images/vw_1200_color.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-color: rgba(210, 210, 210, 0.5);
    }
  }
}


/**
 * Site footer
 */
.prev-next,
.disqus,
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media screen and-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@media screen and (max-width: $screen-sm-max) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Page content
 */
.page-content {
    background-color: #f2f2f2;
    padding-top: 4.5rem;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    -webkit-font-smoothing: antialiased;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    align-items: stretch;

    > li {
        margin-bottom: $spacing-unit;

        &:nth-child(1) {
            width: 100%;
        }
        padding: 0 10px;
        width: 50%;
        @media screen and (max-width: $screen-sm-max) {
            width: 100%;
        }

        > a {
            display: block;
            width: 100%;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
            text-decoration: none;

            &:hover {
                box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.2);
                transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            }
            .post-meta,
            h2 {
                padding: 10px;
                font-weight: normal;
                font-size: 1.3rem;
                margin-bottom: 0;
            }

            > div {
                padding-top: 50%;
                background-size: cover;
                background-position: center;
                &.desaturate {
                    @include desaturate();

                    -webkit-transition-property: all, left, top, width;
                    -webkit-transition-duration: .5s, .1s, .1s, .1s;
                    -webkit-transition-timing-function: cubic-bezier(.33,0,.2,1);
                    -webkit-transition-delay: 0;
                    -moz-transition-property: all, left, top, width;
                    -moz-transition-duration: .5s, .1s, .1s, .1s;
                    -moz-transition-timing-function: cubic-bezier(.33,0,.2,1);
                    -moz-transition-delay: 0;
                    -ms-transition-property: all, left, top, width;
                    -ms-transition-duration: .5s, .1s, .1s, .1s;
                    -ms-transition-timing-function: cubic-bezier(.33,0,.2,1);
                    -ms-transition-delay: 0;
                    -o-transition-property: all, left, top, width;
                    -o-transition-duration: .5s, .1s, .1s, .1s;
                    -o-transition-timing-function: cubic-bezier(.33,0,.2,1);
                    -o-transition-delay: 0;
                    transition-property: all, left, top, width;
                    transition-duration: .5s, .1s, .1s, .1s;
                    transition-timing-function: cubic-bezier(.33,0,.2,1);
                }
            }
        }

        &:hover .desaturate {
            filter: none;
            -webkit-filter: none;
        }
    }
}

.prev-next {
    @extend %clearfix;
    > div {
        width: 50%;
        > a {
            display: block;
            width: 100%;
            text-decoration: none;
            position: relative;

            &::before, &::after {
              /* arrow icon in CSS - for element with nested unordered lists */
              content: '';
              position: absolute;
              top: 50%;
              margin-top: -1px;
              display: inline-block;
              height: 2px;
              width: 10px;
              background: grey;
              @include transition(left .3s, color .3s, right .3s);
            }

            &::before {
              @include transform(rotate(45deg));
            }
            &::after {
              @include transform(rotate(-45deg));
            }
        }
    }
    .next {
        float: right;
        text-align: right;
        > a {
            padding-right: 40px;
            &::before, &::after {
                /* arrow goes on the right side - children navigation */
                right: 20px;
                @include transform-origin(9px 50%);
            }
            &:hover {
                &::before, &::after {
                    right: 10px;
                }
            }
        }
    }
    .prev {
        float: left;
        > a {
            padding-left: 40px;

            &::before, &::after {
                /* arrow goes on the right side - children navigation */
                left: 20px;
                @include transform-origin(1px 50%);
            }
            &:hover {
                opacity: .5;
                &::before, &::after {
                    left: 10px;
                }
            }
        }
    }
    h2 {
        padding: 10px;
        font-weight: normal;
        font-size: 1.3rem;
        margin-bottom: 0;
    }
}
.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 1;

    @media screen and (max-width: $screen-sm-max) {
        font-size: 28px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 28px;

        @media screen and (max-width: $screen-sm-max) {
            font-size: 22px;
        }
    }

    h3 {
        font-size: 26px;

        @media screen and (max-width: $screen-sm-max) {
            font-size: 20px;
        }
    }
}

.disqus {
    background-color: #f2f2f2;
}
